<!DOCTYPE html>
<html>
<head>
  <title>Github trial 1</title>
  <style type="text/css">
    @keyframes myAnimation {
      from {
        background-color: gold;
        top: 0px;
      }
      to {
        background-color: green;
        top: 200px;
      }
    }
    
    div {
      animation-name: myAnimation;
      animation-duration: 2s;
      position: relative;
      width: 100px;
      height: 100px;
      background-color: gold;
    }
  </style>
</head>
<body>
  <div></div>
</body>
</html>
